* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', serif;         /* typ písma */
    background-color: #f2f2f2;              /* barva pozadí stránky */
    color: #333;                            /* barva textu */
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;  
    margin-top: 15px;                         /* okraj kolem obsahu */
}
h1 { 
  text-decoration: underline; 
  text-decoration-style: wavy;
  color: darkslategray;
  font-family: Arial, sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
}
h2 {
  text-decoration: underline; 
  text-decoration-style: solid;
  text-decoration-skip-ink;
  color: darkslategray;
  font-family: Arial, sans-serif;
  font-size: 32px;
  margin-bottom: 15px;
}
h3 {
  color: darkslategray;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
}
p {
  font-family: 'Times New Roman', serif;
  font-size: 21px;
  margin-bottom: 5px;
}
ul{
  ont-family: 'Times New Roman', serif;
  font-size: 21px;
  padding-left: 20px;
}
img {
  border-radius: 5px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
}
a{
  font-family: 'Times New Roman', serif;
  font-size: 21px;
}
hr{
  margin-bottom: 5px;
  margin-top: 5px;
}
.mezera{
  margin-top: 50px;
}